#red{
    color:red;
}

#blue{
    color:blue;
}

#orange{
    color:orange;
}
#green{
    color:green;
}

#yellow{
    color:yellow;
}
/* 
#ID SELECTOR
applies to elements based off CLASS ATTRIBUTE

ie.) for TEXT not IMAGE, yellow literally stored in ID
*/

.color-title{
    font-weight: normal;
}
/* 
.CLASS SELECTOR
applies to elements based off CLASS ATTRIBUTE

ie.) for TEXT not IMAGE, color.title literally stored in class"
*/

img{
    height: 200px;
    width: 200px;
}
/* 
ELEMENTAL SELECTOR
applies to elements based off HTML tag

ie.) img
*/


/* 
UNIVERSAL SELECTOR
applies to ALL elements, easiest

*{
    text-align: center
}


ATTRIBUTE SELECTOR
applies to ATTRIBUTE and VALUE, most specific and challenging

li[value="4"]{
  color:blue;
}
*/