body{
    background-color:moccasin;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.allProj{
    background-color: lightpink;
    border:white solid 5px;
    margin:1%;
    padding:5px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15%;
    width:25%;
}

footer{
text-align: right;
padding: 10px;
}

@media (max-width: 680px) {
    .allProj {
        display:block;
        width:auto;
    }
}

.button{
    cursor:pointer;
    background-color: lightskyblue;
    border:black solid 5px;
    margin:1%;
    padding:5px;
    display: inline-block;
    vertical-align: middle;
    border-radius:100%;
    width:25%;
}