body{
    background-color:moccasin;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.allProj{
    background-color:lightpink;
    border:white solid 5px;
    margin:1%;
    padding:5px;
    display: inline-block;
    vertical-align: middle;
    border-radius:15%;
}

footer{
text-align: right;
padding: 10px;
}